<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./layouts/head %>
    </head>
    <body>
        <header>
            <% include ./layouts/header %>
        </header>
        <section id="home-page">
            <div class="container text-center offset-header">
                <h1 class="welcome">
                    <span class="highlight">Weclome to GeckoMeet!</span>
                </h1>
                <a href='/create' role="button" class="btn btn-outline-light">GET STARTED</a>
            </div>
        </section>
        <section id="info">
            <div class="container text-center">
                <h2>What is GM?</h2>
                <p>GeckoMeet is a truely awesome app which help make arranging meetings a doodle!</p>
            </div>
        </section>
        <footer>
            <% include ./layouts/footer %>
        </footer>
       </body>
</html>