<div class="inner-insert container">
  <div class="inner container list">
    <form action="/comment/edit-comment" method="post">
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="comment">Comment:</label>
        <textarea type="text" class="form-control col-sm-10" rows="6" name="comment">
          <%= comment.text %>
        </textarea>
        <input type="hidden" name="meetingId" value="<%= meeting.id %>">
        <input type="hidden" name="commentId" value="<%= comment.id %>">
      </div>
      <div class="form-group row justify-content-end">
        <button type="submit" class="btn btn-success">
          Save Changes
        </button>
      </div>
    </form>
  </div>
</div>