<footer>
  <div class="container text-center">
    <small>Designed and built by
      <a href="https://github.com/chingu-voyage3/geckos-16" class="text-light">Geckos-16</a>
    </small>
  </div>
</footer>