<footer>
  <div class="container text-center">
    <p> Designed and built with <i class="fa fa-heart" style="font-size:16px;color:red"></i> by
      <a href="https://github.com/chingu-voyage3/geckos-16" class="text-light">Geckos-16</a></p>
  </div>
</footer>