<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Create a Meeting</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="container">

      <div class="text-center">

        <h2>Create a Meeting</h2>
        <a href="/" class="btn btn-default">Home</a>
        <a href="/list" class="btn btn-default">List Meetings</a>
      </div>
    </div>
  </body>
</html>