<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <header>
    <% include partials/header %>
  </header>
  <section>
      <div class="container-fluid welcome">
          <div class="row">
            <div class="col-lg-7 home-left">
              <img class="img-responsive gecko-bg" src="images/gecko-home.png" alt="Gecko image" width="100%" max-width="20rem">
            </div>
            <div class="col-lg-5 home-right justify-content-end">
                <h1>This is<br> Geckomeet.</h1>
               <h3>A simple,<br> meetup planner.</h3>
                <p>Welcome!</p>
                <a href="/meetings/create" class="btn btn-info btn-lg">Create a New Meeting</a>
            </div>
          </div>
      </div>
    <div class="container-fluid">
      <div class="container text-center info">
        <h3>What is GeckoMeet?</h3>
        <p>GeckoMeet is a truely awesome app which helps make arranging meetings a doddle! Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </section>
  <footer>
    <% include partials/footer %>
  </footer>
  <% include partials/scripts %>
</body>

</html>