<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/assets/style.css' />
  <title>Meeting Planner</title>
</head>

<body>
  <div class="container">

    <h1>Welcome to Meeting Planner - MVP</h1>


    <div class="meetings">
      <% for(var i=0; i<meetings.length; i++) {%>
        <div class="meeting">
          <span>
            Title:
            <%= meetings[i].title %>
          </span>
          <br>
          <span>
            Desc:
            <%= meetings[i].desc %>
          </span>
        </div>
        <% } %>
    </div>

    <form class="form--container" action="/meetings" method="POST">
      <input type="text" placeholder="title" name="title" maxlength="20">
      <br>
      <input type="text" placeholder="desc" name="desc" maxlength="40">
      <br>
      <button class="buttonSubmit" type="submit">Submit</button>
    </form>
  </div>
</body>

</html>