<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <section id="profile">
      <div class="container text-center offset-header">
        <h1 class="welcome">
          <span class="highlight">Your Account</span>
        </h1>
      </div>
    </section>
    
    <footer>
        <% include ../partials/footer %>
    </footer>
    <% include ../partials/scripts %>
   </body>
</html>